################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MvcUMS/bin
/.vs
/MvcUMS/obj
/packages
